$colors: (
    'common': (
        'white': #fff,
        'black': #181818,
        'black-2': #505050,
    ),
    'grey': (
        '1':rgba(86, 139, 7, 0.08),
    ),
    'text': (
        'body':#505050,
    ),
    'theme': (
        '1': #578B07,
        '2': #FED000,
    ),
    'border': (
    )
);




$white : #fff;
$black : #020626;
$theme-primary : #578B07;
$border-primary : #F1F1F9;